@page "/Bookloan"
@using Microsoft.AspNetCore.Authorization

@inject IUserService UserService
@attribute [Authorize(Roles = "Admin")]


<div class="addbook_form">
    <div class="Title_page">LIBRARY BORROWING FORM </div>
    <div class="addbook_form_body">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <form>
                    <div class="form-outline mb-4">
                        <label>Title</label>
                        <input type="text" class="form-control" />

                        <label>Author</label>
                        <input type="text" class="form-control" />

                        <label>Publisher</label>
                        <input type="text" class="form-control" />

                        <label>PublishedDate</label>
                        <input type="date" class="form-control" />

                        <label>Category</label>



                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </Authorized>
        </AuthorizeView>
    </div>
</div>