@page "/BookManagement"
@using Library_Management.Components.Layout
@rendermode InteractiveServer

<PageTitle>Book Management</PageTitle>

<h1>Book Management</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
 
}
