@page "/Dashboard"
@using Library_Management.Components.Layout
@layout Dashboardlayout
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>


@* main menu *@
<div class="mainmenu">

    @* Seach book *@
    <div>

    </div>
    @* read data from database and show them to table *@
    <div> 
        <table class="table table-bordered">
            <thead> @* header *@
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>PublishedDate</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Available</th>
                </tr>
            </thead>

            <tbody> @* body *@

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>

        </table>
    </div>@* read data from database and show them to table *@
</div> @* main menu *@
