.addbook_form {
    padding: 40px;
}


.addbook_form_body {
    padding: 15px;
    border: 3px solid #0094ff;
    border-radius: 25px;
}

.Title_page {
    width: 100%;
    font-size: 25px;
    text-align: center
}

