@page "/Chosedate_CUD"
@page "/Chosedate_CUD/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigationManager
@inject IUserService UserService
@attribute [Authorize(Roles = "Member")]
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<div class="addbook_form">
    <AuthorizeView Roles="Member" Context="authContext">
        <Authorized>
            <div class="Title_page">CHOSE DATE</div>
            <div class="addbook_form_body">
                <EditForm Model="@currentbook">
                    <div class="form-outline mb-4">
                        <label>Chose Due Date</label>
                        <InputDate @bind-Value="currentbook.DueDate" @bind-Value:format="dd/MM/yyyy" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="HandleSubmit">Submit</button>
                </EditForm>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter] 
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public BorrowingRecord currentbook { get; set; } = new BorrowingRecord { DueDate = DateTime.Today };


    async Task HandleSubmit()
    {
        
            var authenticationState = await authenticationStateTask;
            //add
            await UserService.AddBookLoanAsync(currentbook, authenticationState.User.Identity.Name, Id);
            navigationManager.NavigateTo("/Dashboard");
         
    }

}
